#input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#input-container label {
  background-color: #776DB9;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 50%;
  text-align: center;
  color: white;
}

#card-num {
  outline: none;
  border: none;
  width: 20%;
  margin-top: 1rem;
  padding: 0.2rem;
  resize: none;
  border: 1px solid #776DB9;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}