#score-container {
  display: flex;
  justify-content: space-around;
  background-color: #776DB9;
  border-radius: 0.5rem;
  padding-right: 5rem;
  padding-left: 5rem;
  width: 70%;
  
}

.score-item {
  text-align: center;
  padding: 0.5rem;
  color: white;
}